body {
    margin: 0;
}

.main {
  & .h2 {
    text-align: center;
  }
}

p {
    margin-bottom: 0;
}

.addmenu-area {
  background-color: #edf6e6;
  border-radius: 30px;
  border: 1px solid #8ab73d;
  padding: 20px 0 20px 0px;
  width: 30%;
  height: auto;
  margin: 30px auto;

  & .form-area {
    width: 80%;
    margin: 0 auto;

    & .category {
      display: inline-block;
    }

    & .add-menubtn {
      text-align: center;
      margin-top: 20px;
    }
  }

    & .error {
        margin-top: 0;
        color: red;
    }
}