body {
    margin: 0;
}

.h2 {
    text-align: center;
}

.check-area {
    width: 40%;
    margin: 0 auto 50px auto;
    padding-bottom: 30px;
    background-color: #edf6e6;
    border-radius: 30px;
    border: 1px solid #8ab73d;

    & .text {
        width: 80%;
        margin: 0 auto;
    }

    & .btn {
        text-align: center;
    }

    & .check {
        margin-bottom: 0;
    }
}