@media screen and (max-width: 959px) {
  .header {
    border-bottom: 2px solid black;
    background-color: #8ab73d;
    height: 100px;
  }
  .header .hamburger {
    display: none;
  }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .header__inner .logo > a > img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100px;
    margin-left: 50px;
  }
  .header .title-area {
    height: 100px;
  }
  .header .title-area > a > img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100px;
  }
  .header .menu {
    margin-right: 0;
    height: 30px;
    text-align: right;
    padding-top: 70px;
    color: white;
  }
  .header .menu > a {
    color: white;
    text-decoration: none;
  }
  .header .menu .register {
    padding: 10px;
    border-radius: 20px;
    color: white;
  }
  .header .menu .login {
    padding: 10px;
    border-radius: 20px;
    color: white;
  }
  .header {
    position: relative;
  }
  .header .hamburger {
    position: absolute;
    display: block;
    top: 18px;
    right: 30px;
    height: auto;
    width: 50px;
    cursor: pointer;
  }
  .header .hamburger ul {
    list-style: none;
    margin-left: 0;
    text-align: left;
    padding-left: 0;
  }
  .header .hamburger ul li:nth-child(1) {
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-bottom: 8px;
  }
  .header .hamburger ul li:nth-child(2) {
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-bottom: 8px;
  }
  .header .hamburger ul li:nth-child(3) {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header .hamburger ul li span {
    border-radius: 2px;
    display: block;
    height: 6px;
    width: 50px;
    background-color: #008000;
  }
  .header .hamburger.on ul {
    list-style: none;
    margin-left: 0;
  }
  .header .hamburger.on ul li:nth-child(1) {
    -webkit-transform: rotateZ(45deg) translateX(10px) translateY(10px);
            transform: rotateZ(45deg) translateX(10px) translateY(10px);
  }
  .header .hamburger.on ul li:nth-child(2) {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  .header .hamburger.on ul li:nth-child(3) {
    -webkit-transform: rotateZ(-45deg) translateX(10px) translateY(-10px);
            transform: rotateZ(-45deg) translateX(10px) translateY(-10px);
  }
  .header .hamburger.on ul li span {
    border-radius: 2px;
    display: block;
    height: 6px;
    width: 50px;
    background-color: #008000;
  }
  .header__inner {
    display: inline !important;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo > a > img {
    margin-left: 20px !important;
  }
  .menu {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .header {
    border-bottom: 2px solid black;
    background-color: #8ab73d;
    height: 100px;
  }
  .header .hamburger {
    display: none;
  }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .header__inner .logo > a > img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100px;
    margin-left: 50px;
  }
  .header .title-area {
    height: 100px;
  }
  .header .title-area > a > img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100px;
  }
  .header .menu {
    margin-right: 0;
    height: 30px;
    text-align: right;
    padding-top: 70px;
    color: white;
  }
  .header .menu > a {
    color: white;
    text-decoration: none;
  }
  .header .menu .register {
    padding: 10px;
    border-radius: 20px;
    color: white;
  }
  .header .menu .login {
    padding: 10px;
    border-radius: 20px;
    color: white;
  }
}
/*# sourceMappingURL=header.css.map */