body {
  margin: 0;
}

.main {
  & .h2 {
    text-align: center;
  }
  & .table-area {
    width: 40%;
    margin: 0 auto 50px auto;
    padding-bottom: 30px;
    text-align: center;
    background-color: #edf6e6;
    border-radius: 30px;
    border: 1px solid #8ab73d;

    & table {
      border: 1px solid black;
      margin: 20px auto;
      background-color: white;
      & td {
        border: 1px solid black;
      }
    }
  }
}
