body {
  margin: 0;
}

.main {
  & .input-area {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    & .form-area {
      background-color: #edf6e6;
      border-radius: 30px;
      border: 1px solid #8ab73d;
      padding: 20px;
      width: 50%;
      margin: 0 auto;
      border-radius: 30px;
    }
  }
}
